// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i&display=swap);
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-app-shell-primary: mat-palette($mat-indigo);
$angular-app-shell-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-app-shell-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-app-shell-theme: mat-light-theme($angular-app-shell-primary, $angular-app-shell-accent, $angular-app-shell-warn);

// My custom typography styles:
$custom-typography: mat-typography-config(
    $font-family: 'Montserrat, sans-serif',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-app-shell-theme);


html, body { height: 100%; }
body { 
    margin: 0;
    background-color: #d1d7e0;
}

.page-wrapper{
    width: 100%;
    max-width: $max-viewport-width;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 5px 15px;

    .mat-card {
        background: #d1d7e0;
        color: #802bb1;
    }
}

.mat-toolbar {
    background: #2d283e;
    color: #d1d7e0;
}
